#p1 {
    text-align: center;
    border：35px ridge darkblue;
}
.li4 {
    color: red;
    font: 25px;
    
}

img {
    text-align: center; height: 300px; width: 350px;
}

#para2 {
    font-size: 80px; border: 10px solid; padding: 20px;
}
.p3 {
    font-size:80px; border: 10px solid; padding: 20px;
}
.ul2{
    list-style: none;
    border: 0px;
    padding: 0px
    
}
