#p1 {
    text-align: center;
    border：35px ridge darkblue;
}
.li4 {
    color: red;
    font: 25px;
    
}

img {
    text-align: center; height: 300px; width: 350px;
}

#para2 {
    font-size: 80px; border: 10px solid; padding: 20px;
}
.p3 {
    font-size:80px; border: 10px solid; padding: 20px;
}
.ul2{
    list-style-type: none;
    border: 0px;
    padding: 0px
    font-size: 45px;
    display: inline;
    
}
#ul3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  .li3 {
    float: left;
    background-color: white
  }
  
  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white
  }
  

  li a:hover {
    background-color:black;
  }
