#p1 {
    text-align: center;
    border：35px ridge darkblue;
}
.li4 {
    color: red;
    font: 25px;
    
}

img {
    text-align: center; height: 300px; width: 350px;
}

#p2 {
    border: 20px rounded blue groove; font-size: 50px;
}